###
# Aliases
###
# general
alias ..="cd .."
alias ...="cd ../.."
alias ls="ls -G"
alias l="ls -al"

# git related
alias g="git"
alias gs="git status --short"
alias gst="git status"
alias grv="git remote -v"

alias subl="open -a /Applications/Sublime\ Text.app"
alias notes="vim /Users/ahostettle/Desktop/notes.py"

###
# Functions
###
# creations of mine
function title() { echo -ne "\e]1;$1\a" ;}
