###
# Aliases
###
# general
alias ..="cd .."
alias ...="cd ../.."
alias ls="ls -G"
alias l="ls -al"

# shortcuts
alias showdots="defaults write com.apple.finder AppleShowAllFiles True"
alias hidedots="defaults write com.apple.finder AppleShowAllFiles False"

# git related
alias g="git"
alias gs="git status --short"
alias gst="git status"
alias grv="git remote -v"
alias co="git checkout"

alias subl="open -a /Applications/Sublime\ Text.app"
alias notes="vim /Users/ahostettle/Documents/notes.py"

# work related
alias uscp="cd /Users/ahostettle/Sites/uscp-web"
alias wsc="cd /Users/ahostettle/Sites/web-site-config"
alias wsa="cd /Users/ahostettle/Sites/web-standard-apps"
alias gup="cd /Users/ahostettle/Sites/gup/gupui"
alias static="cd /Users/ahostettle/Sites/static-web"

###
# Functions
###
# creations of mine
function title() { echo -ne "\e]1;$1\a" ;}
function start() {
	if [ "$1" = "as" ] ; then
			title s-gupas; cd ~/Sites/gup/gupas; workon $2; python manage.py runserver ${3-8001} --settings="gupas.settings_local"
	elif [ "$1" = "ui" ] ; then
			title s-gupui; cd ~/Sites/gup/gupui; workon $2; python manage.py runserver --settings="gupui.settings_local"
	fi
}

# other ppl's creations
function pyfind () {
	    if [ -n $1 ]
			    then
				        find . -name '*.py' -print | xargs grep -ni $1
						    else
								        echo "A pattern is required"
										    fi
}

# gup related
function gupasrun() { cd /Users/ahostettle/Sites/gup/gupas ; workon gupui ; python manage.py runserver 8001 --settings="gupas.settings.local" ;}
function gupuirun() { cd /Users/ahostettle/Sites/gup/gupui ; workon gupui ; python manage.py runserver --settings="gupui.settings_local" ;}
function clrcache() { rm -rf /tmp/ui_service_framework ; echo "ui-service-framework cache cleared" ;}
function sclrcache() { sudo rm -rf /tmp/ui_service_framework ; echo "forced ui-service-framework cache cleared" ;}
function gupui() { cd /Users/ahostettle/Sites/gup/gupui ; workon gupui ;}
function gupas() { cd /Users/ahostettle/Sites/gup/gupas ; workon gupui ;}
